<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Q_Sys_6.7" value="172.30.164.105">
    </add>
    <add key="P_Sys_7.1" value="172.30.164.107">
    </add>
    <add key="ShortName" value="VORGANGSKURZTXT_JLR">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Q_connString" connectionString="Data Source=localhost\MES;Initial Catalog=SitMesDb;User ID=sa;Password=babay" />
    <add name="P_connString" connectionString="Data Source=172.30.164.104\MES;Initial Catalog=SitMesDb;user=reportUser;Password=simatic" />
    <add name="P_Update" connectionString="Data Source=172.30.164.104\MES;Initial Catalog=SitMesDb;user=reportUser;Password=simatic" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>